body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  position: relative;
}

.card {
  position: relative;
  top: 12em;
  border: 15px solid white;
}

.card-container::before {
  z-index: -1;
  position: absolute;
  content: "";
  border-bottom: 15px solid pink;
  border-top: 15px solid pink;
  width: calc(100% + 20px);
  height: calc(90% + 20px);
  top: 180px;
  left: -15px;
  transform: rotate(45deg);
}

.card-container::after {
  z-index: 1;
  position: absolute;
  content: "";
  border-bottom: 15px solid pink;
  border-top: 15px solid pink;
  width: calc(100% + 20px);
  height: calc(90% + 20px);
  top: 180px;
  left: -15px;
  transform: rotate(135deg);
}
